* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(232, 232, 221);
}

h1{
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(85, 200, 232);
    border-radius: 10px;
    font-family: 'Gemunu Libre', sans-serif;


}

.bouton-rayon{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    background-color: rgb(85, 200, 232);
    border-radius: 10px;
    font-family: 'Gemunu Libre', sans-serif;

}

.budacceuil{
    object-position: 50% 50%;
}